@model Lab5.Models.Expense

@{
    ViewData["Title"] = "Details";
}

<!-- Main content title -->
<h1>Expense Details</h1>

<div>
    <hr />
    <!-- Description list to display the column title and value of the selected expense -->
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseCategory.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod.PaymentMethodName)
        </dd>
    </dl>
</div>
<div>
    <!-- Edit button -->
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <!-- Return to Index button -->
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
